#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    z-index: 1;
    overflow: hidden;
}
.windows8 {
	position: relative;
	width: 78px;
	height:78px;
	margin:auto;
}

.windows8 .wBall {
	position: absolute;
	width: 74px;
	height: 74px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 10px;
	height: 10px;
	background: rgb(247,30,30);
	left:0px;
	top:0px;
	border-radius: 10px;
}

.windows8 #wBall_1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}



.cssload-container{
	position:relative;
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 3px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 2498px;
		-o-border-radius: 2498px;
		-ms-border-radius: 2498px;
		-webkit-border-radius: 2498px;
		-moz-border-radius: 2498px;
}

.cssload-whirlpool {
	margin: -63px 0 0 -63px;
	height: 125px;
	width: 125px;
	animation: cssload-rotate 950ms linear infinite;
		-o-animation: cssload-rotate 950ms linear infinite;
		-ms-animation: cssload-rotate 950ms linear infinite;
		-webkit-animation: cssload-rotate 950ms linear infinite;
		-moz-animation: cssload-rotate 950ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -58px 0 0 -58px;
	height: 110px;
	width: 110px;
	animation: cssload-rotate 950ms linear infinite;
		-o-animation: cssload-rotate 950ms linear infinite;
		-ms-animation: cssload-rotate 950ms linear infinite;
		-webkit-animation: cssload-rotate 950ms linear infinite;
		-moz-animation: cssload-rotate 950ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -73px 0 0 -73px;
	height: 140px;
	width: 140px;
	animation: cssload-rotate 1900ms linear infinite;
		-o-animation: cssload-rotate 1900ms linear infinite;
		-ms-animation: cssload-rotate 1900ms linear infinite;
		-webkit-animation: cssload-rotate 1900ms linear infinite;
		-moz-animation: cssload-rotate 1900ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}
body{
    font-family: 'Raleway', sans-serif;
}
.header-1{
    justify-content: space-between;
    align-items: center;
}
.header-1 .tel{
    font-weight: 900;
}
.banner{
    background: #F9F9F9;
}
.navbar-light .navbar-nav .nav-link{
    font-weight: 400;
    color: black;
    opacity: 1;
}
.main-nav{
    padding-left: 0;
   
}
.map>p{
    margin-left: 20px;
    border-bottom: 2px solid red;
}
.fusion{
    background-image: url(img/rectangle2.jpg);
    color: white;
    background-position:  0% 100% ;
    background-repeat: no-repeat;
    background-size: cover;
}
.color-red{
    color: red;
}
.how-sell-1{
    background-color: white;
    box-shadow: 0px 0px 35px #535352;
    text-align: center;
    color: black;
    padding: 20px;
    height: 100%;
}
.how-sell-1 h3{
    color: red;
    font-weight: 900;
    font-size: 1.5rem;
}
@media only screen and (max-width: 991px) {
    .sell-1{
        padding-bottom: 3rem;
    }
   }
   
.bold{
    font-weight: 900;
    margin: 3rem 0;
}
.how-sell-21{
    background-image: url(img/1.png);
}
.how-sell-22{
    background-image: url(img/2.png);
}
.how-sell-23{
    background-image: url(img/3.png);
}
.how-sell-21, .how-sell-22 , .how-sell-23{
    background-size: 132px 250px;
    background-repeat: no-repeat;
    border: 1px solid red;
    border-bottom: 5px solid red;
    padding: 3rem;
    padding-top: 9rem;
}
@media only screen and (max-width: 991px) {
    .sell-1{
        padding-bottom: 3rem;
    }
   }
.gray{
    background: #f9f9f9;

}
.check-div{
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.7);
    height: 100%;
    padding: 2.5rem 2rem;
}
.check{
    padding-bottom: 3rem;
}
.check-img{
    position: relative;
    left: 40%;
    top: -60px;
    border: 1px solid red;
    width: 50px;
    background-color: white;
    text-align: center;
    padding: 10px 0;
}
.wolk{
    background-image: url(img/wolk.png);
    background-repeat: no-repeat;
    background-position: 100% 0%  ;
    background-size: 40%;

}
.ul{
    border-left: 10px solid #EB2629;
    border-bottom: 10px solid #EB2629;
    padding: 2rem;
    margin: 3rem 0;

box-sizing: border-box;
}
.ul >ul{
    list-style-image: url(img/ul-li.png);
    padding-left: 1rem;
}
.ol > ol{
    list-style-type: none;
    padding-left: 1rem;

}
@media only screen and (max-width: 1000px) {
    .ol > ol{
       background-color: rgba(255, 255, 255, 0.84);
    
    }
   }
.marker-li{
    color: rgba(255, 255, 255, 0); /* прозрачный цвет букв */
    -webkit-text-stroke: 2px red;
    padding-right: 1rem;
}
.wheel{
    background-image: url(img/wheel2.png);
    background-repeat: no-repeat;
    background-position: 100% 0%  ;
    background-size: cover;
}
.black{
    background-color: #1c1b18;
    color: white;
}
.benefits{
    border: 1px solid #EB2629;
    border-bottom: 10px solid #EB2629;
    padding: 1.5rem;
    height: 100%;
}
.benefits-img{
    position: relative;
    top: -60px;
    left: 25%;

}
.benefits-img3{
    position: relative;
    top: -60px;
    left: 10%;
   

}
.col-benefits{
    padding: 2rem;
}
.dek{
   height: 100px; 
}
.pudjik{
    width: 250px;
    
    
}
.persi{
    width: 250px;
}
.chen{
    width: 250px;
}
.itemi{
    width: 300px;
}
.og{
    width: 80px;
}

body{
    overflow-x: hidden;
}
.my-anim-left {
    transform: translateX(-120%);
    opacity: 0;
    transition: 1s;
}

.activ-anim-left {
    transform: translateX(0);
    opacity: 1;
}
.my-anim-right {
    transform: translateX(200%);
    opacity: 0;
    transition: 1s;
}

.activ-anim-right {
    transform: translateX(0);
    opacity: 1;
}


.my-anim-top {
    transform: translateY(-100%);
    opacity: 0;
    transition: 1s .5s;
}

.activ-anim-top {
    transform: translateY(0);
    opacity: 1;
}

.my-anim-bottom {
    transform: translateY(200%);
    opacity: 0;
    transition: 1s .5s;
}

.activ-anim-bottom {
    transform: translateY(0);
    opacity: 1;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    z-index: 1060;
    overflow: hidden;
}
.text-logo{
    font-size: 3rem;
}